# The ACCOUNT_SID starts with "AC". Get your ACCOUNT_SID and AUTH_TOKEN from here: https://console.twilio.com/?frameUrl=%2Fconsole%3Fx-target-region%3Dus1
ACCOUNT_SID=ACxxxxxxxxxxxxxxxxx
AUTH_TOKEN=xxxxxxxxxxxxxxxxxxxx

# The Sync SID starts with "IS". Come here to get a new Sync Service: https://console.twilio.com/us1/develop/sync/services?frameUrl=%2Fconsole%2Fsync%2Fservices%3Fx-target-region%3Dus1
SYNC_SERVICE_SID=ISxxxxxxxxxxxx

# The Verify SID starts with "VA". Generate a new Verify Service here: https://console.twilio.com/us1/develop/verify/services?frameUrl=%2Fconsole%2Fverify&currentFrameUrl=%2Fconsole%2Fverify%2Fservices%3F__override_layout__%3Dembed%26bifrost%3Dtrue%26x-target-region%3Dus1
VERIFY_SERVICE_SID=VAxxxxxxxxxx

# Nah, not important for now - This is if you are a Developer and wants to work locally on the Plugin. Run your ngrok like this: "ngrok http --region=eu --hostname=blah.eu.ngrok.io 3000". More info into the README.md
#DOMAIN_WHILE_WORKING_LOCALLY=blah.eu.ngrok.io